body {
    padding: 0.5rem;
    margin: 0px;
    background-color: #3748a8e0;
    
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 1rem;
}

.event {        
  max-width: 100px;    
  border: 1px solid #FF5722;
  border-radius: 10px;
  overflow: hidden;  
  background-color: #ffffff; 
  cursor: pointer;
}

.event img {
  width: 100%;      
  aspect-ratio: 16/9;  
  object-fit: cover;   
}

.event .name {
  font-size: 7px;      
  font-weight: bold;    
  color: #000000;  
  text-align: center;
  padding: auto;        
}